{% include 'inc/head.inc.html' %}

{% include 'inc/navbar.inc.html' %}

<body style="background-color: #ffffff;">
    <div class="row" style="width: 100%;">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height:80vh">
            <div class="my-form">
                <h3 class="text-primary">Reset your password!</h3>
                <form autocomplete="off" id="resetform" style="text-align:center; margin-top: 30px;" action="" method="POST">
                    {% csrf_token %}
                    <!-- <i class="material-icons pro">account_circle</i> -->
                    <input class="field form-control" name="pass1" value="{{ pass1 }}" type="password" placeholder="Enter new password" required>
                    <input class="field form-control" name="pass2" value="{{ pass2 }}" type="password" placeholder="Confirm your password" required>
                    <p id="error" 
                        style="
                            text-align: left; 
                            transition-duration:0.25s;
                            color:#ed4337;"
                        >
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    </p>
                    
                    <button class="btn btn-block btn-primary" style="height: 45px;" type="submit">RESET NOW</button>        
                </form>

            </div>
        </div>
    </div>    
</body>

</html>

